.table th {
  border: solid #1c1e22;
}

.table td {
  border-color: #1c1e22;
}

.table thead {
  background-color: #2e3338;
}

.input::placeholder {
  color: #7a8288;
  opacity: 1;
}

.input {
  color: #272b30;
}

a.address {
  font-size: 1.125rem;
  font-weight: 600;
}

a.address:hover {
  text-decoration: underline;
  color: $text;
}

.amount {
  font-size: 1.125rem;
  font-weight: 600;
}

.table {
  font-size: 1.125rem;
}
