.button.is-rounded {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

a:visited {
  color: inherit;
}

.title {
  font-weight: normal;
}

.register-button {
  margin-top: 2rem;
}
html {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
}
