@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraBold.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Thin.ttf") format("truetype");
  font-weight: 100;
}

@font-face {
    font-family: simplonmono-regular;
    src: url("/fonts/simplonmono-regular.eot");
    src: url("/fonts/simplonmono-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/simplonmono-regular.woff2") format("woff2"), url("/fonts/simplonmono-regular.woff") format("woff"), url("/fonts/simplonmono-regular.ttf") format("truetype"); }
@font-face {
    font-family: euclidflexmedium;
    src: url("/fonts/euclidflexmedium.eot");
    src: url("/fonts/euclidflexmedium.eot?#iefix") format("embedded-opentype"), url("/fonts/euclidflexmedium.woff2") format("woff2"), url("/fonts/euclidflexmedium.woff") format("woff"), url("/fonts/euclidflexmedium.ttf") format("truetype"); }
