$body-background-color: #272b30;
$text: #2e9ad0;
$link: $text;
$text-strong: $text;
$table-background-color: #353a41;
$table-striped-row-even-background-color: #2e3338;

@import "~bulma/sass/utilities/_all";
@import "./fonts.scss";
@import "./defaults.scss";

$colors: (
  "white": ($white, $black),
  "black": ($black, $white),
  "light": ($light, $light-invert),
  "primary": ($primary, $primary-invert),
  "info": ($info, $info-invert),
  "success": ($success, $success-invert),
  "warning": ($warning, $warning-invert),
  "danger": ($red $red-invert)
);

@import "~bulma/bulma.sass";
@import "./base.scss";
